* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(diceback.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    color: rgb(97, 94, 94);
}

.wrapper {
    border-radius: 25px;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0,
.player-1 {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.player-name {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: fantasy;
    position: relative;
}

.permanent-score {
    text-align: center;
    font-size: 70px;
    color: rgb(148, 72, 72);
    margin-bottom: 140px;
}

.active { background-color: #f8ecec; }

.active .player-name::after {
    content: "\2190";
    font-size: 47px;
    position: absolute;
    color: rgb(148, 72, 72);
    top: -8px;
    right: -18px;
}

.current-box {
    border-radius: 25px;
    background-color: rgb(233, 97, 97);
    color: #fff;
    width: 63%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.current-label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-family: fantasy;
}

.current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 170px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-new { 
    top: 45px;
    font-size: 16px;
    font-family: fantasy;
}
.btn-roll { 
    font-weight: bold;
    top: 400px;
    font-family: fantasy;
}
.btn-save { 
    top: 450px;
    font-family: fantasy;
}

.dice-img {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    height: 100px;
}

.winner {
    background-color: rgb(236, 253, 209);
}

.winner {
    color: rgb(231, 105, 66);
}
